# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (including Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-wheel-metadata/
pip-log.txt
*.egg-info/
dist/
build/
.eggs/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.coverage
*.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint-*.txt

# Black
*.pyi

# VSCode and IDE specific files
*.code-workspace
.vscode/

# PyCharm settings
.idea/

# Log files
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Environment variables
.env
.env.*

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Linux system files
*~

# Others
*.orig
*.rej
*.swo
*.swn

# Ignore local config files
config.local.json

# Other
screen-caps/
prompts/
sources/